
/* Headlines */
h2 {
  padding: 10px 0 3px 0;
  border-top: 1px #555 solid;
  border-bottom: 0px;
  margin: 3em 0 0.5em;
}

.method_details {
    border-top: 0px;
    margin-top: 50px;
    padding-top: 0;
    clear:both;
}

.method_details.first { 
    margin-top: 15px;
}



/* method summary */

ul.summary  {
  border-bottom: 1px #ccc dotted;
  margin-left:0px; padding-left:0px;
}

ul.summary li {
  border-top: 1px #ccc  dotted;
  margin: 0px;
  padding: 1px 0px 1px 0px;
 
}


ul.summary a:link, ul.summary a:visited {
    font-size: 0.9em;
    font-weight:normal !important;
}

.summary .summary_signature {
    background: none;
    border: 0px;
    padding: 1px 10px;
}

.summary .summary_desc {
    display: inline;
    margin:0px;
}

p.signature, h3.signature {
    background: none repeat scroll 0 0 #FAEECC;
    border: 0;

}


/* method details */
.note.returns_void {
    display :none;
}


.showSource {
    display: none;
    float: right;    
}

table.source_code {
    margin-left: 100px;
    border-left: 0px;
    display: table !important;
}



